<mat-card appearance="outlined" class="comment-card">
  <mat-card-header class="comment-header">
    <mat-card-title class="comment-author">
      {{ comment().author }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p class="comment-text">{{ comment().text }}</p>
  </mat-card-content>

  <mat-card-footer class="comment-footer">
    <span class="comment-date">{{ comment().date }}</span>

    <app-vote-widget [rating]="comment().rating || 0" size="small" (vote)="onVote($event)">
    </app-vote-widget>
  </mat-card-footer>
</mat-card>
