@if (latestArticles$ | async; as articles) {
  @if (articles.length > 0) {
    <section class="latest-posts-section container">
      <h2 class="section-title">Последние статьи</h2>

      <div class="posts-grid">
        @for (article of articles; track article.id) {
          <app-article-card [article]="article"></app-article-card>
        }
      </div>

      <div class="all-posts-link">
        <a routerLink="/blog" routerLinkActive="active" class="btn-outline">Все статьи</a>
      </div>
    </section>
  }
}
