<main class="container">
  <section class="blog-header split-layout">
    <div class="split-left">
      <h1 class="hero-title">Мой блог</h1>
      <p class="text-muted">
        Здесь я пишу о ретро-консолях, разработке, железе и, конечно же, о покемонах. Добро
        пожаловать!
      </p>
    </div>
    <div class="split-right blog-header-image">
      <img src="images/photos/blog-icon.jpg" alt="Мой блог" class="square-avatar" />
    </div>
  </section>

  <section class="featured-post-section">
    <article class="featured-post">
      <div class="featured-image">
        <img src="images/photos/anbernic.jpg" alt="Anbernic RG35XX H" />
      </div>
      <div class="featured-content">
        <h2 class="featured-title">Настройка Rocknix на Anbernic RG35XX H</h2>
        <p class="featured-desc">
          Подробный гайд по установке кастомной прошивки, фиксу проблем со звуком и оптимизации
          производительности для комфортной игры.
        </p>
        <p class="post-date">Опубликовано: <time datetime="2025-10-16">16 октября 2025</time></p>
      </div>
    </article>
  </section>
  <section class="posts-grid-section">
    <div class="posts-grid">
      @for (item of articles$ | async; track item.id) {
        <app-blog-post-card
          [article]="item"
          (deleteClick)="onArticleDelete($event)"
          (editClick)="onArticleEdit($event)"
        >
        </app-blog-post-card>
      }
    </div>

    @if ((totalArticles$ | async)! > store.limit) {
      <div style="text-align: center; margin-top: 40px">
        <button class="btn-outline-light" (click)="loadMore()">
          Показать еще ({{ (totalArticles$ | async)! - store.limit }})
        </button>
      </div>
    }
  </section>
  @if (isFormVisible) {
    <section id="add-article-form-section" class="add-article-section">
      <app-article-form
        [editData]="selectedArticle"
        (articleSubmit)="onArticleSubmit($event)"
        (cancel)="closeForm()"
      ></app-article-form>
    </section>
  }

  <app-admin-panel
    [articleCount]="(totalArticles$ | async)!"
    (addClick)="openAddForm()"
  ></app-admin-panel>
</main>
