<article class="post-card">
  <div class="post-content">
    @if (article().categoryName) {
      <span class="post-category">{{ article().categoryName }}</span>
    }

    <a [routerLink]="['/blog', article().id]" class="post-title-link">
      <h3 class="post-title">{{ article().title }}</h3>
    </a>

    <p class="post-desc">{{ article().content }}</p>
  </div>

  <div class="post-image">
    <a [routerLink]="['/blog', article().id]">
      <img [src]="article().image" [alt]="article().alt || article().title" />
    </a>
  </div>
</article>
