<article class="post-card">
  <div class="post-content">
    <span class="post-category">Новинки мира Покемонов</span>
    <h3 class="post-title">Gamefreak показали новых стартовых покемонов!</h3>
    <p class="post-desc">
      Недавно анонсированные Pokemon Winds/Waves принесли нам новых стартовых покемонов, сообщество
      уже вовсю обсуждает их дизайн.
    </p>
  </div>
  <div class="post-image">
    <img src="images/photos/newstarters.jpg" alt="Pokemon Gen 10 starters" />
  </div>
</article>
