<section class="hero-section split-layout">
  <div class="split-left hero-content">
    <h1 class="hero-title">Добро пожаловать на мой вебсайт!</h1>
    <p class="hero-desc">
      Меня зовут Миша, я студент СибГУТИ направления ИВТ. Увлекаюсь вообще много чем, в особенности
      видеоиграми.
    </p>

    <a routerLink="/blog" routerLinkActive="active" class="hero-link">Мои статьи...</a>
  </div>

  <div class="split-right hero-image-container">
    <img src="images/photos/poke.jpg" alt="Pokemon Sun/Moon starters" class="hero-img" />
  </div>
</section>
