<div class="add-article-wrapper">
  <h2 class="section-title" style="margin-bottom: 24px">
    {{ formTitle() }}
  </h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="admin-form">
    <div class="form-group-light">
      @let isTitleInvalid = hasError('title');

      <label for="article-title">Заголовок (минимум 25 символов)*</label>
      <input
        id="article-title"
        type="text"
        formControlName="title"
        placeholder="Введите заголовок..."
        [class.input-error]="isTitleInvalid"
      />

      @if (isTitleInvalid) {
        <span class="error-text">{{ getControlError('title') }}</span>
      }
    </div>

    <div class="form-group-light">
      @let isContentInvalid = hasError('content');

      <label for="article-text">Текст статьи*</label>
      <textarea
        id="article-text"
        formControlName="content"
        rows="5"
        placeholder="О чем хотите рассказать?"
        [class.input-error]="isContentInvalid"
      ></textarea>

      @if (isContentInvalid) {
        <span class="error-text">{{ getControlError('content') }}</span>
      }
    </div>

    <div class="form-actions">
      <button type="submit" class="btn-solid" [disabled]="form.invalid">
        {{ saveButtonTitle() }}
      </button>
      <button type="button" class="btn-outline-light" (click)="onCancel()">Отмена</button>
    </div>
  </form>
</div>
